body, html {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
a,li {
	text-decoration: none;;
	list-style: none;
	color:black;
}

/* Media Query Smartphone */
@media only screen and (max-width: 480px) {

#wrapper {
	width: 100%;
	height: 100%;
}
#header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 9999;
	border-bottom: 1px solid #e7e7e7;
}
.main {
	width: 460px;
	height: auto;
	margin: 0 auto;
}
#logo {
	width: 90px;
	height: 20px;
	margin-top: 30px;
	float: left;
}
#logo img {
	width: 90px;
	height: 20px;
}

#nav-bar, #nav-bar ul, #nav-bar ul li, #nav-bar ul li a {
	display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    margin-top: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


#banner {
	width: 100%;
	height: 400px;
	position: relative;
	top: 100px;
	background-color: rgb(120,179,184);
}

#banner figure {
	width: 1024px;
	height: 400px;
	margin: 0 auto;
}

#banner figure img {
	width: 700px;
	height: 350px;
	margin: 10px 137px;
}

/* slider */

section#slider-carrousel {
	width: 1024px;
	position: relative;
	top: 100px;
	margin: 0 auto;
}

section h2,p {
	text-align: center;
}

#carousel {
	margin: 2em auto;
	width: 1024px;
}

#carousel-wrapper {
	width: 800px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}

#carousel-items {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	height: 200px;
}

#carousel-items li {
	float: left;
	width: 150px;
	height: 200px;
	margin: 5px;
	text-align: center;
	overflow: hidden;
}

#carousel-items li img {
	width: 60px;
	margin-top: 20px;
}

#carousel-items div {
	width: 150px;
	height: 200px;
}

#carousel-items li div h3 {
	margin: 10px 0 10px 0;
}

#carousel-items li div p {
	margin: 0;
	padding: 10px;
	font-size: 10px;
	color: black;
	width: 130px;
	height: auto;
}

#carousel-nav {
	margin: 1em 0;
	overflow: hidden;
	position: relative;
	top: -120px;
}

#carousel-nav i {
	padding: 5px 16px;
	color: #e7e7e7;
}

#carousel-nav a {
	float: left;
}
#carousel-nav a + a {
	float: right;
}

section.destaq {
	width: 100%;
	height: 660px;
	position: relative;
	top: 100px;
}

div.box-gray {
	width: 100%;
	height: 220px;
	background-color: rgba(231,231,231,0.5);
}

div.box-white {
	width: 100%;
	height: 220px;
	background-color: #fff;	
}
div.box-size {
	width: 1024px;
	height: 220px;
	margin: 0 auto;
}

div.box-size .icon {
	float: left;
	height: 220px;
	width: 200px;
}

div.box-size .icon-inverse {
	float: right;
	height: 220px;
	width: 200px;
}

div.box-size .icon img {
	margin: 25px;
	width: 170px;
	height: 170px;
}
div.box-size .icon-inverse img {
	margin: 15px;
	width: 170px;
	height: 170px;
}

div.box-size div.text {
	width: 770px;
	height: 220px;
	margin: 0 0px 0 30px;
	float: left; 
}

div.box-size div.text h3 {
	color: rgb(105,190,223);
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 50px;
	text-transform: uppercase;
}

div.box-size div.text p {
	text-align: justify;
	margin-top: 10px;
	font-size: 14px;
}

/* Section of commentary */

section#coments {
	width: 100%;
	height: 500px;
	background-color: #fff;
	position: relative;
	top: 100px;
}
section#coments h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	margin-top: 50px;
}

/* First commentary */

#first-coment {
	width: 800px;
	margin: 0px auto;
	height: 200px;
	margin-top: 50px;
}

#first-coment #profile {
	width: 120px;
	height: 120px;
	float: left;
	margin-top: 20px;
}
#first-coment #profile img {
	width: 120px;
	height: 120px;
}
#first-coment .coment {
	width: 500px;
	float: left;
	background-color: #F5F5F5;
	margin: 30px 80px 0px 80px;
	outline: 1px solid #fff;
	border-radius: 5px;
}

/* Second commentary */

#second-coment {
	width: 800px;
	margin: 0px auto;
	height: 140px;
}

#second-coment #profile {
	width: 120px;
	height: 120px;
	float: right;
	margin-top: 20px;
}
#second-coment #profile img {
	width: 120px;
	height: 120px;
}
#second-coment .coment {
	width: 500px;
	float: left;
	background-color: #F5F5F5;
	margin: 30px 80px 0px 80px;
	outline: 1px solid #fff;
	border-radius: 5px;
}
#second-coment .coment p, #first-coment .coment p {
	font-size: 14px;
	color: #333;
	margin: 20px;
	font-family: 'Arvo', serif;
}
#second-coment .coment p + p, #first-coment .coment p + p {
	color: rgb(105,190,223);
	font-family: 'Arvo', serif;
}

/* Seção de Contato */

section#contact {
	width: 100%;
	height: 150px;
	position: relative;
	top: 100px;
	background-color: rgba(231,231,231,0.3);
}

#fone {
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 35px;
}
#fone img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
#text-contact {
	width: 700px;
	height: 80px;
	float: left;
	margin-top: 35px;
	margin-left: 30px;
}
#text-contact p {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
}

#button-contact {
	width: 150px;
	height: 80px;
	margin: 35px 30px 0 0;
	float:right;
}

#button-contact button {
	width: 150px;
	height: 50px;
	margin-top: 15px;
	background-color: rgba(105,190,223, 0.7);
	border: 0;
	outline: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
    box-shadow: 5px 5px 5px rgba(255,255,255,0.7);
}
#button-contact button:hover {
	background-color: rgba(105,190,223, 1);
}
footer {
	width: 100%;
	height: 350px;
	position: relative;
	top: 100px;
	background-color: rgb(39,40,34);
}

#list-itens {
	width: 1024px;
	height: 300px;
	margin: 0 auto;
}
#social-media {
	width: 100%;
	height: 50px;
	background-color: #fff !important;
}

.column {
	width: 340px;
	height: 280px;
	float: left;
	margin-top: 20px;
}
.column h3 {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-left: 20px;
}
.column ul {
	margin: 0;
	padding: 0;
	margin-left: 20px;
}

.column ul li {
	line-height: 20px;
}

.column ul li a {
	color: #fff;
	font-family: 'Arvo', serif;
	font-size: 12px;
}

#social-media {
	width: 100%;
	height: 50px;
}

#social-media ul {
	margin: 0 auto;
	width: 100px;
	height: 50px;
	padding: 0px;
}

#social-media ul li {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50px;
	background-color: rgb(39,40,34);
	color: #fff;
	margin-top: 10px;
}

#social-media ul li i {
	line-height: 30px;
	margin-left: 5px;
}

#social-media ul li:nth-child(1) i {
	margin-left: 10px;
}

#social-media ul li:nth-child(2) i {
	margin-left: 7px;
}

#social-media ul li a {
	color: #fff !important;
}


/* Page Product */

#product-page {
	position: relative;
	top: 100px;
	width: 100%;
	height: 900px;
	overflow: hidden;
}
#img-product {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

#background-size {
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 300px;
}

#img-product img {
	position: relative;
	top: 0px;
	width: 100%;
	-webkit-animation-name: slide; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10; /* Chrome, Safari, Opera */
    animation-name: slide;
    animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide {
    0%   {position: relative; top: 0px;}
    100% {position: relative; top: -500px;}
    100%   {position: relative; top: -500px;}
    0% {position: relative; top: 0px;}
}

/* Standard syntax */
@keyframes slide {
    0%   {position: relative; top: 0px;}
    100% {position: relative; top: -500px;}
    100%   {position: relative; top: -500px;}
    0% {position: relative; top: 0px;}
}
#description-product {
	width: 1024px;
	height: 200px;
	position: relative;
	margin: 0 auto;
	top: 0;
}
#description-product h3 {
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}
#description-product p {
	text-align: center;
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #777;
}
#coment-main {
	width: 1024px;
	height: 150px;
	margin: 0 auto;
	margin-top: 50px;
}

#coment-main #envelop {
	width: 700px;
	height: 100px;
	margin: 0 auto;
}

#coment-main .key {
	width: 30px;
	height: auto;
	float: left;
}
#coment-main .key img {
	width: 100%;
	height: 100%;
}
#coment-main #text-main {
	float: left;
	width: 600px;
}
#coment-main #text-main p {
	padding-top: 5px;
	font-family: 'Arvo';
	font-weight: 400;
	color: #777;
}

#profile-main {
	width: 1020px;
	height: 150px;
	margin: 0 auto;
}
#profile-main #photo-main {
	width: 150px;
	height: 150px;
	margin-left: 150px;
	float: left;
}

#profile-main #photo-main img {
	width: 120px;
	height: 120px;
	padding-top: 30px;
	float: right;
}

#person-name {
	width: 300px;
	height: 150px;
	float: left;
}
#person-name p {
	line-height: 20px;
	margin:0px;
	padding-top: 120px;
	text-align: left;
	font-family: 'Ubuntu';
	font-weight: 500;
	font-style: italic;
	color: #85c7e1;
	font-size: 14px;
}

/* Módulo Análise */

#mod-analise {
	width: 100%;
	height: 600px;
	background-color: rgba(231,231,231,0.3);
	position: relative;
	top: 100px;
}
#mod-analise #section-mod {
	width: 1024px;
	height: 600px;
	margin: 0 auto;
}
#mod-analise #section-mod h2 {
	text-align: center;
	margin: 0;
	padding-top: 50px;
	font-weight: 400;
	color: #85c7e1;
}
#mod-analise #section-mod #menu-list {
	width: 1024px;
	height: 50px;
	margin-top: 50px;
}
#menu-list ul {
	width: 1024px;
	height: 50px;
	padding: 0;
}
#menu-list ul li {
	padding-right:25px; 
	float: left;
	font-size: 14px;
	cursor: pointer;
}
#menu-list ul li a:hover {
	border-bottom: 2px solid #85c7e1;	
}
.item-list-mod {
	width: 1024px;
	height: 400px;
}
.item-list-mod .item-mod {
	width: 1024px;
	height: 400px;
	display: block;
	overflow: hidden;
}
.item-mod .img-mod {
	width: 512px;
	height: 400px;
	float: left;
}
.item-mod .img-mod img {
	margin-top: 50px;
	width: 512px;
	height: 320px;
}
.item-mod .text-mod {
	width: 512px;
	height: 400px;
	float: left;
}
.item-mod .text-mod p:nth-child(1) {
	width: 450px;
	margin: 0 auto;
	margin-top: 60px;
	font-weight: 600;
}
.item-mod .text-mod p + p {
	width: 450px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: justify;
	font-size: 14px;
}

/* Módulo Mapas */

#mod-map {
	width: 100%;
	height: 600px;
	background-color: #fff;
	position: relative;
	top: 100px;
}
#mod-map #section-mod2 {
	width: 1024px;
	height: 600px;
	margin: 0 auto;
}
#mod-map #section-mod2 h2 {
	text-align: center;
	margin: 0;
	padding-top: 50px;
	font-weight: 400;
	color: #85c7e1;
}
#mod-map #section-mod2 #menu-list2 {
	width: 1024px;
	height: 50px;
	margin-top: 50px;
}
#menu-list2 ul {
	width: 1024px;
	height: 50px;
	padding: 0;
}
#menu-list2 ul li {
	padding-right:25px; 
	float: left;
}

.item-mod .text-mod p.reset {
	margin-left: 0;
} 

#vantagens-icons {
	width: 100%;
	height: 500px;
	position: relative;
	top: 100px;
	background-color: rgba(231,231,231,0.3);
	overflow: hidden;
	-webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
#thumbnail-icons {
	width: 1024px;
	height: 500px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
	-webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
#thumbnail-icons .thumb {
	width: 500px;
	height: 400px;
	float: left;
	margin-top: 20px;
}
#thumbnail-icons .thumb .icon-thumb {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 50%;
	background-color: #fff;
}
#thumbnail-icons .thumb .icon-thumb img {
	width: 70px;
	height: 60px;
	margin-left: 25px;
	margin-top: 25px;
}

#thumbnail-icons .thumb .text-thumb {
	width: 480px;
	height: 235px;
	margin: 0 auto;
}
#thumbnail-icons .thumb .text-thumb h4 {
	text-align: center;
	font-weight: 600;
	color: #5e5f5f;
}
#thumbnail-icons .thumb .text-thumb p {
	color: #5e5f5f;
	font-weight: 300;
}

/* Seção de Download */

#down-button {
	width: 100%;
	height: 200px;
	position: relative;
	top: 100px;
}

#down-content {
	width: 1024px;
	height: 200px;
	margin: 0 auto;
}

#down-content #text-down {
	width: 800px;
	height: 100px;
	padding-top: 50px;
	float: left;
}

#down-content #text-down h3 {
	font-weight: 500;
	font-size: 22px;
	color: #797979;
	margin-bottom: 5px;
}
#down-content #text-down p {
	text-align: left;
	font-weight: 300;
	font-size: 16px;
	margin-top: 0px;
}

#down-content #button-down {
	width: 200px;
	height: 200px;
	float: right;
}
#button-down button {
	width: 150px;
	height: 50px;
	float: right;
	margin-top: 80px;
	background-color: rgba(105,190,223, 0.7);
	border: 1px solid #e7e7e7;
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
/*	border-radius: 5px; */
	cursor: pointer;
	font-size: 16px;
	outline: 0;
    opacity: 1;
	box-shadow: 5px 5px 5px #e7e7e7;
}
#button-down button:hover {
	background-color: rgba(105,190,223, 1);
}
/* Seção Fale Conosco */

#talk {
	width: 100%;
	height: 150px;
	background-color: #f7f6f6;
	position: relative;
	top: 100px;
}
#fale-conosco {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	padding-top: 40px;
}
#fale-conosco #phone {
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 10px;
	margin-left: 50px;
}
#fale-conosco #phone img {
	width: 40px;
	height: 40px;
}
#fale-conosco p {
	text-align: center;
	width: 800px;
	float: left;
	margin-top: 25px;
	font-size: 20px;
}
#fale-conosco p em {
	font-weight: 600;
	font-style: normal;
}
#fale-conosco #envelop {
	width: 60px;
	height: 50px;
	float: left;
	margin-top: 10px;
}
#fale-conosco #envelop img {
	width: 50px;
	height: 40px;
}

/* Página de Download */
#page-download {
	width: 100%;
	height: 600px;
	background-color: #fff;
	position: relative;
	top: 100px;
}
#page-download #enveloped-down {
	width: 1024px;
	height: 600px;
	margin:0 auto;
}

#image-background  {
	width: 400px;
	height: 400px;
	margin-top: 100px;
	background-color: #f7f6f6;
	border-radius: 50%;
	float: left;
}
#image-background img {
	width: 250px;
	height: 200px;
	margin-left: 70px;
	margin-top: 90px;
}
#enveloped-down #text-button {
	width: 500px;
	height: 400px;
	margin-top: 100px;
	float: right;
}

#enveloped-down #desciption-down {
	width: 400px;
	height: 200px;
	padding: 50px;
	padding-bottom: 20px;
}
#enveloped-down #desciption-down p {
	text-align: justify;
	font-weight: 300;
	color: #777;
	font-size: 14px;
}
#button-page-down {
	width: 150px;
	height: 100px;
	margin: 0 auto;
}
#button-down-off {
	width: 150px;
	height: 100px;
}
#button-page-down #button-down-off button {
	width: 150px;
	height: 50px;
	border:2px solid rgb(105,190,223);
	outline: 0;
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(105,190,223);
	cursor: pointer;
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px #e7e7e7
}
#button-page-down #button-down-off button:hover {
	background-color: rgba(220,220,220,0.4);
}

#button-down-off button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
#text-button > p {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: red;
	margin: 0;
	font-style: italic;
}

/* Teste "Ver Mais" */

.opened {
	height: 1000px !important;
	-webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
.opened-icon {
	height: 1000px !important;
	-webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
.opened-icon-btn {
	position: absolute !important;
	bottom: 50px !important;
	-webkit-transition: position 2s; /* Safari */
    transition: position 2s;
}
#more-view {
	width: 150px;
	height: 90px;
	float: left;
	position: absolute;
	right: 437px;
	bottom: 60px;
}
#more-view button {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-left: 45px;
	background-color: rgba(105,190,223, 0.8);
	border:0;
	float: left;
	cursor: pointer;
	color: #fff;
	z-index: 9999;
	font-size: 16px;
	line-height: 50px;
	/* Firefox */
	/* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
}
#more-view button:hover {
	-ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    transform: rotate(40deg);
    background-color: rgba(105,190,223, 1);
}
#more-view span {
	display: inline-block;
	margin: 0 auto;
	margin-left: 40px;
	margin-top: 15px;
	color: #fff;
	/* Firefox */
	/* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
} 
#more-view:hover span {
	color: #666;
	font-weight: 400;
}

#more-view button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/*Seção Cliente */

section#client {
	position: relative;
	top: 100px;
	width: 100%;
	height: 400px;
}

#brands {
	width: 100%;
	height: 1000px;
	position: relative;
	top: 100px;
}
#brands #faixa {
	width: 100%;
	height: 70px;
	background-color: #e7e7e7;
}
#brands #faixa h3 {
	width: 1024px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
	font-weight: 400;
	padding-top: 10px;
}
#brands #faixa p {
	font-weight: 300;
	line-height: 20px;
	margin: 0;
}
#brands-icons {
	width: 1024px;
	height: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

#brands-icons ul {
	width: 1024px;
	height: 800px;
	padding: 0px;
	margin: 0;
}

#brands-icons ul li {
	width: 225px;
	height: 250px;
	float: left;
	margin: 10px;
	outline: 1px solid #e7e7e7;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s, box-shadow 0.5s; /* Safari */
    transition: opacity 0.5s, box-shadow 0.5s;
}

#brands-icons ul li:hover {
	opacity: 1;
	box-shadow: 10px 10px 5px #e7e7e7;
}

/*
#brands-icons ul li:nth-child(1), #brands-icons ul li:nth-child(5)  {
	margin-left: 45px;
}
*/

#brands-icons ul li img {
	width: 200px;
	height: 120px;
	margin-top: 0;
	margin-left: 12.5px;
}

#brands-icons ul li span {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	width: 195px;

}

#brands-icons ul li span:last-child {
	margin-top: 0px;
	font-weight: 300;
	padding-top: 5px;
}

/* Seção de Contato */


#bg-contact {
	width: 100%;
	height: 300px;
	position: relative;
	top: 100px;
}

#contato {
	width: 100%;
	height: 1000px;
	position: relative;
	top: 100px;
	background-color: #fff;
}
#box-contato {
	width: 1024px;
	height: 1000px;
	margin: 0 auto;
}

#box-contato > p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 20px;
	font-family: 'Ubuntu';
	margin-top: 0px;
	padding-top: 20px;
}
#box-contato p + p {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-left: 0px;
	padding-bottom: 20px;
	font-family: 'Ubuntu';
	border-bottom: 1px solid #e7e7e7;
	color: rgb(105,190,223);
}
#box-contato p:nth-child(3){
	font-weight: 300;
	color: #666;
	margin-bottom: 40px;
	border: 0;
}
form {
	width: 1024px;
	height: 430px;
	margin: 0;
	padding: 0;
}
form:focus {
	outline: none;
}

form input {
	width: 400px;
    height: 38px;
    border: 1px solid #d8dfe9;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
.contact_form ul {
    width: 1024px;
    height: 450px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.contact_form li{
    position:relative;
    width: 340px;
    height: 100px;
    float: left;
}
.contact_form li .icon-form {
	width: 45px;
	height: 40px;
	float: left;
	line-height: 40px;
	background-color: rgba(105,190,223,0.2);
}
.contact_form li .icon-form i {
	width: 40px;
	line-height: 40px;
}
.contact_form li .icon-form i:before {
	width: 20px;
	margin-left: 15px;
}
.contact_form #textarea {
	width: 1024px;
	height: 100px;
	margin-bottom: 30px;
}
.contact_form #textarea .icon-form-text {
	width: 45px;
	height: 100px;
	float: left;
	line-height: 40px;
	background-color: rgba(105,190,223,0.2);
}
.contact_form #textarea .icon-form-text i {
	width: 40px;
	line-height: 40px;
}
.contact_form #textarea .icon-form-text i:before {
	width: 20px;
	margin-left: 15px;
}
.contact_form #textarea textarea {
	width: 970px;
	height: 100px;
	float: left;
}
.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}
.contact_form input, .contact_form textarea {
    height:40px; 
    width:290px; 
    padding:5px 8px;
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
    float: left;
    color: #999;
    border:1px solid #e7e7e7;
    box-shadow: 0px;
    outline: 0px;
}
.contact_form input:focus, .contact_form textarea:focus {
    box-shadow: 0;
    background-color: rgba(133,199,225,0.2);
    border:0;
    border-radius: 0;
}
.contact_form ::-webkit-input-placeholder {
   color: #999;
   font: 14px verdana, arial, sans-serif;
}

.contact_form :-moz-placeholder {
   color: #999;
   font: 14px verdana, arial, sans-serif;
}

.contact_form ::-moz-placeholder {
   color: #999;  
   font: 14px verdana, arial, sans-serif;
}

.contact_form :-ms-input-placeholder {  
   color: #999;  
   font: 14px verdana, arial, sans-serif;
}

.contact_form button {margin-left:156px;}

li#button-contact-form {
	width: 1024px;
}
li#button-contact-form input[type=checkbox] {
	margin-top: 15px;
   	margin-left: 10px;
   	border-radius:0px;
	background-color:#fff;
	color:black;
	width:15px;
	height:15px;
	cursor: pointer;
}
li#button-contact-form input[type=checkbox]:checked{
	color:#999;
}
li#button-contact-form p {
	width: 450px;
	height: 40px;
	float: left;
	margin-top: 13px;
	margin-left: 10px;
	text-align: justify;
}

button.submit {
    width: 512px;
    height: 50px;
    background-color: rgba(105,190,223, 0.7);
    border: 1px solid #e7e7e7;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0 !important;
    float: left;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #fff;
    outline: 0;
     
}
#box-contato article {
	width: 1024px;
	height: 250px;
}
#box-contato article ul {
	padding: 0;
	width: 510px;
	float: left;
}
#box-contato article h5 {
	width: 510px;
	float: left;
}

#box-contato article ul li {
	height: 20px;
	padding-bottom: 10px;
}
#box-contato article ul li:nth-child(1) {
	height: 70px;
}
#box-contato article ul li:nth-child(2) {
	height: 50px;
}
#box-contato article ul li p {
	margin: 0;
	float: left;
	width: 450px;
	text-align: left;
	color: #666;
}
#box-contato article ul li p span{
	line-height: 20px;
	display: block;
	color: #666;
}
#box-contato article ul li i{
	padding-right: 20px;
	float: left;
	width: 30px;
}
#box-contato article #social-media-contact li {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #e7e7e7;
	line-height: 50px;
	margin-right: 20px;
	padding-bottom: 0px;
}
#box-contato article #social-media-contact li:hover {
	background-color: rgba(105,190,223, 0.7);
}
#social-media-contact li i {
	line-height: 50px;
	width: 20px;
	margin-left: 17px;
	padding: 0px !important;
}
#social-media-contact li:nth-child(1) i {
	margin-left: 20px;
}

}